

/**************** SECCION "TURNOS" *******************************/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #b8b6b6;
  color: #333333;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}
.navbar ul{
  display: flex;
  gap: 5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  justify-content: center;

}

.logo img{
  width: 100px;
}

.imagen-portada{
   display: flex;
   justify-content: center;
   margin-top: 3rem;
}

.imagen-portada img{
  width: 500px;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.texto-portada{
  text-align: center;
}

#formularioTurno {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#formularioTurno input {
  padding: 10px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s;
}

#formularioTurno input:focus {
  border-color: #2a9d8f;
  outline: none;
}

#formularioTurno button {
  padding: 12px;
  background-color: #2a9d8f;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#formularioTurno button:hover {
  background-color: #21867a;
}


#turnosContainer {
  list-style: none;
  padding: 0;
}

#turnosContainer li {
  background: #ffffff;
  padding: 12px 18px;
  margin-bottom: 12px;
  border-left: 5px solid #2a9d8f;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#turnosContainer li::before {
  content: "🐾";
  margin-right: 8px;
}



#calendarioMensual {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 días */
  gap: 10px;
  max-width: 700px;
  margin: 30px auto;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dia {
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.dia span {
  font-weight: bold;
  margin-bottom: 5px;
}

.turno-ocupado {
  background-color: #d3d3d3;
  color: #000;
  border-radius: 4px;
  padding: 2px 4px;
  margin-top: 4px;
  font-size: 12px;
}


footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}